img {
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
	height: auto;
}

.slick-dots {
	bottom: 30px;
	li {
		button:before {
			color: #ffffff;
			opacity: 0.5;
			font-size: 8px;
			transition: all 0.25s ease-in-out;
		}

		&.slick-active button:before {
			color: #ffffff;
			opacity: 1;
			font-size: 12px;
		}
	}
}
